.navbar{
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: palevioletred;
    align-items: center;
    justify-content: center;
    padding-left: 140px;
    padding-right: 140px;   
    
}
